@keyframes spin{

	from{
		-webkit-transform:rotate(0);
		-moz-transform:rotate(0);
		-ms-transform:rotate(0);
		-o-transform:rotate(0);
		transform:rotate(0)
	}
	to{
		-webkit-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-o-transform:rotate(360deg);
		transform:rotate(360deg)
	}
}
@keyframes spin2{

	from{
		-webkit-transform:rotate(0);
		-moz-transform:rotate(0);
		-ms-transform:rotate(0);
		-o-transform:rotate(0);
		transform:rotate(0)
	}
	to{
		-webkit-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-o-transform:rotate(360deg);
		transform:rotate(360deg)
	}
}


@keyframes pulseScale{
	0%{
		-webkit-transform:scale(1);
		-moz-transform:scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1);
		transform:scale(1);
	}
	50%{
		-webkit-transform:scale(1.3);
		-moz-transform:scale(1.3);
		-ms-transform:scale(1.3);
		-o-transform:scale(1.3);
		transform:scale(1.3);
	}
	100%{
		-webkit-transform:scale(1);
		-moz-transform:scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1);
		transform:scale(1);
	}
}

@keyframes pulseScale2{
	0%{
		-webkit-transform:scale(1);
		-moz-transform:scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1);
		transform:scale(1);
	}
	50%{
		-webkit-transform:scale(1.05);
		-moz-transform:scale(1.05);
		-ms-transform:scale(1.05);
		-o-transform:scale(1.05);
		transform:scale(1.05);
	}
	100%{
		-webkit-transform:scale(1);
		-moz-transform:scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1);
		transform:scale(1);
	}
}


@-webkit-keyframes pulseDown{

		0%{
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		-ms-transform:translateY(0);
		-o-transform:translateY(0);
		transform:translateY(0);
		}
		50%{
		-webkit-transform:translateY(5px);
		-moz-transform:translateY(5px);
		-ms-transform:translateY(5px);
		-o-transform:translateY(5px);
		transform:translateY(5px);
		}
		100%{
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		-ms-transform:translateY(0);
		-o-transform:translateY(0);
		transform:translateY(0);
		}
}

@-moz-keyframes pulseDown{

	0%{
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		-ms-transform:translateY(0);
		-o-transform:translateY(0);
		transform:translateY(0);
	}
	50%{
		-webkit-transform:translateY(5px);
		-moz-transform:translateY(5px);
		-ms-transform:translateY(5px);
		-o-transform:translateY(5px);
		transform:translateY(5px);
	}
	100%{
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		-ms-transform:translateY(0);
		-o-transform:translateY(0);
		transform:translateY(0);
	}

}

@-webkit-keyframes pulseDown{

	0%{
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		-ms-transform:translateY(0);
		-o-transform:translateY(0);
		transform:translateY(0);
	}
	50%{
		-webkit-transform:translateY(5px);
		-moz-transform:translateY(5px);
		-ms-transform:translateY(5px);
		-o-transform:translateY(5px);
		transform:translateY(5px);
	}
	100%{
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		-ms-transform:translateY(0);
		-o-transform:translateY(0);
		transform:translateY(0);
	}

}

@-o-keyframes pulseDown{

	0%{
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		-ms-transform:translateY(0);
		-o-transform:translateY(0);
		transform:translateY(0);
	}
	50%{
		-webkit-transform:translateY(5px);
		-moz-transform:translateY(5px);
		-ms-transform:translateY(5px);
		-o-transform:translateY(5px);
		transform:translateY(5px);
	}
	100%{
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		-ms-transform:translateY(0);
		-o-transform:translateY(0);
		transform:translateY(0);
	}

}

@keyframes pulseDown{
	0%{
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		-ms-transform:translateY(0);
		-o-transform:translateY(0);
		transform:translateY(0);
	}
	50%{
		-webkit-transform:translateY(10px);
		-moz-transform:translateY(10px);
		-ms-transform:translateY(10px);
		-o-transform:translateY(10px);
		transform:translateY(10px);
	}
	100%{
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		-ms-transform:translateY(0);
		-o-transform:translateY(0);
		transform:translateY(0);
	}
}



@keyframes pulseLeft{
	0%{
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-ms-transform:translateX(0);
		-o-transform:translateX(0);
		transform:translateX(0);
	}
	50%{
		-webkit-transform:translateX(-5px);
		-moz-transform:translateX(-5px);
		-ms-transform:translateX(-5px);
		-o-transform:translateX(-5px);
		transform:translateX(-5px);
	}
	100%{
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-ms-transform:translateX(0);
		-o-transform:translateX(0);
		transform:translateX(0);
	}
}
@keyframes pulseRight{
	0%{
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-ms-transform:translateX(0);
		-o-transform:translateX(0);
		transform:translateX(0);
	}
	50%{
		-webkit-transform:translateX(5px);
		-moz-transform:translateX(5px);
		-ms-transform:translateX(5px);
		-o-transform:translateX(5px);
		transform:translateX(5px);
	}
	100%{
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-ms-transform:translateX(0);
		-o-transform:translateX(0);
		transform:translateX(0);
	}
}
@keyframes saturacion{
	0%{
		filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		opacity: 0;
	}
	50%{
		filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		opacity: 1;
	}
	100%{
		filter: grayscale(0%);
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);
		opacity: 1;
	}
}
@keyframes opacidad {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes intermitente {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}


.pulso-escala {

	-webkit-animation:750ms ease-in-out pulseScale infinite;
	-moz-animation:750ms ease-in-out pulseScale infinite;
	-o-animation:750ms ease-in-out pulseScale infinite;
	-ms-animation:750ms ease-in-out pulseScale infinite;
	animation:750ms ease-in-out pulseScale infinite;

	-webkit-transition: all 250ms ease-in-out;
	   	-ms-transition: all 250ms ease-in-out;
	   	 -o-transition: all 250ms ease-in-out;
	   	 	transition: all 250ms ease-in-out;
	}

.pulso-escala-2 {

	-webkit-animation:1s ease-in-out pulseScale2 infinite;
	-moz-animation:1s ease-in-out pulseScale2 infinite;
	-o-animation:1s ease-in-out pulseScale2 infinite;
	-ms-animation:1s ease-in-out pulseScale2 infinite;
	animation:1s ease-in-out pulseScale2 infinite;

	-webkit-transition: all 250ms ease-in-out;
	   	-ms-transition: all 250ms ease-in-out;
	   	 -o-transition: all 250ms ease-in-out;
	   	 	transition: all 250ms ease-in-out;
	}



.abajo {

	-webkit-animation:750ms ease-in-out pulseDown infinite;
	-moz-animation:750ms ease-in-out pulseDown infinite;
	-o-animation:750ms ease-in-out pulseDown infinite;
	-ms-animation:750ms ease-in-out pulseDown infinite;
	animation:750ms ease-in-out pulseDown infinite;

	-webkit-transition: all 250ms ease-in-out;
	   	-ms-transition: all 250ms ease-in-out;
	   	 -o-transition: all 250ms ease-in-out;
	   	 	transition: all 250ms ease-in-out;
	}

.pulso-derecha {
	-webkit-animation:750ms ease-in-out pulseRight infinite;
	-moz-animation:750ms ease-in-out pulseRight infinite;
	-o-animation:750ms ease-in-out pulseRight infinite;
	-ms-animation:750ms ease-in-out pulseRight infinite;
	animation:750ms ease-in-out pulseRight infinite;

	-webkit-transition: all 250ms ease-in-out;
	   	-ms-transition: all 250ms ease-in-out;
	   	 -o-transition: all 250ms ease-in-out;
	   	 	transition: all 250ms ease-in-out;
	}

.pulso-izquierda {
	-webkit-animation:750ms ease-in-out pulseLeft infinite;
	-moz-animation:750ms ease-in-out pulseLeft infinite;
	-o-animation:750ms ease-in-out pulseLeft infinite;
	-ms-animation:750ms ease-in-out pulseLeft infinite;
	animation:750ms ease-in-out pulseLeft infinite;

	-webkit-transition: all 250ms ease-in-out;
	   	-ms-transition: all 250ms ease-in-out;
	   	 -o-transition: all 250ms ease-in-out;
	   	 	transition: all 250ms ease-in-out;
	}

.girar {
	-webkit-animation:750ms ease-in-out spin infinite;
	-moz-animation:750ms ease-in-out spin infinite;
	-o-animation:750ms ease-in-out spin infinite;
	-ms-animation:750ms ease-in-out spin infinite;
	animation:750ms ease-in-out spin infinite;

	-webkit-transition: all 250ms ease-in-out;
	   	-ms-transition: all 250ms ease-in-out;
	   	 -o-transition: all 250ms ease-in-out;
	   	 	transition: all 250ms ease-in-out;
	}

.saturacion {
	-webkit-animation:750ms ease-in-out saturacion 1;
	-moz-animation:750ms ease-in-out saturacion 1;
	-o-animation:750ms ease-in-out saturacion 1;
	-ms-animation:750ms ease-in-out saturacion 1;
	animation:750ms ease-in-out saturacion 1;

	-webkit-transition: all 250ms ease-in-out;
	   	-ms-transition: all 250ms ease-in-out;
	   	 -o-transition: all 250ms ease-in-out;
	   	 	transition: all 250ms ease-in-out;
	}
