@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i');
/* =======================================================
*
* 	Hoja de estilos
*
* ======================================================= */
body {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #10181F;
  background: #fff;
  height: 100%;
  /*position: relative;*/
}

a {
  color: #10181F;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #5b5f63;
  outline: none;
  text-decoration: none;
}

i {
    /*font-weight: bold !important;*/
}

p {
  margin-bottom: 1.2em;
  font-family: 'Lato';
  color: #616161;
  font-size: 16px;
}

strong {
    font-weight: 600;
}

ul.arrow {
    margin-bottom: 1.2em;
    padding-left: 10px;
    list-style: none;
}

ul.arrow li::before {
    content: '\e606';
    font-family: 'simple-line-icons';
    margin-right: 7px;
    font-size: 12px;
    font-weight: bold;

}


h1, h2 {
  letter-spacing: -1px;
}

h1, h2, h3, h4, h5, h6 {
  color: #10181F;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #10181F;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
}
.titular {
    letter-spacing: -.5px;
}

h2 {
    font-size: 24px;
}

::-webkit-selection {
  color: #818892;
  background: #f9f6f0;
}

::-moz-selection {
  color: #818892;
  background: #f9f6f0;
}

::selection {
  color: #818892;
  background: #f9f6f0;
}

#contraloria-header {
  position: absolute;
  background: #fff;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 68px;
  margin-top: 0px;
  border-bottom: 0px solid #b7bcbf;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0);
}
#contraloria-header:after {
  background: linear-gradient(to right, #ffcc00 15%,#ffcc00 30%, #ed7829 30%, #ed7829 45%, #d00f7a 45%, #d00f7a 65%, #00a040 65%, #00a040 75%, #0068a5 75%);
  position: absolute;
  content: '';
  height: 2px;
  right: 0;
  left: 0;
  top: 0;
}
#contraloria-header .border-header {
    border-bottom: 1px solid #b7bcbf;
    width: 100%
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);

    -webkit-transition: all 250ms ease-in-out;
        -ms-transition: all 250ms ease-in-out;
         -o-transition: all 250ms ease-in-out;
            transition: all 250ms ease-in-out;
}
@media screen and (max-width: 768px) {
  #contraloria-header {
    margin-top: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  }
  #contraloria-header .navbar-brand {
    color: #fff !important;
  }
  .navbar-collapse {
      background: #fff;
  }
  #contraloria-header #navbar li a {
    color: #10181F;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #contraloria-header #navbar li a:hover {
    color: #10181F !important;
  }
  #contraloria-header #navbar li a span:before,
  #contraloria-header #navbar li a span:after {
    display: none;
  }
  #contraloria-header #navbar li a.active {
    background: transparent;
    background: none;
    color: #10151b !important;
  }
  #contraloria-header #navbar li a.active span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
#contraloria-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
  min-height: 50px;
  height: 55px;
}
#contraloria-header #navbar li a {
  font-family: "Montserrat", Arial, sans-serif;
  color: #10181F;
  position: relative;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding-top: 18px;
  padding-bottom: 2px;
  font-size: 15px;
  border-radius: 0 0 3px 3px;
}
.icon-index {
    font-size: 20px;
    line-height: 20px;
}
.nav > li > a {
    padding: 10px 11px;
}
#contraloria-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
  text-align: center;
  /*line-height: 12px;
  padding-top: 5px;*/
}
#contraloria-header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: -19px;
  left: 0;
  background-color: #f9f9f9;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  z-index: 2;
}
#contraloria-header #navbar li a span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-left: 5px solid #f9f9f9;
  border-right: 5px solid #f9f9f9;
  top: -18px;
  left: 0;
  background-color: #8d9caf;
  visibility: hidden;
  -webkit-transform: scaleX(0) translateX(8%);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  z-index: 3;
}
#contraloria-header #navbar li a:hover {
  color: #8d9caf;
  background: #fbfbfb;
}
#contraloria-header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#contraloria-header #navbar li a:hover span:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-delay: 250ms; /* Safari */
  transition-delay: 250ms;
}
#contraloria-header #navbar li a.active {
  background: transparent;
  background: none;
  font-weight: 600;
  color: #10181F !important;
}
#contraloria-header #navbar li a.active span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#contraloria-header #navbar li a.active span:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #10181F !important;
  height: 2px;
}
#contraloria-header #navbar li a i.ico-menu {
  font-size: 8px;
  font-weight: bold;
  opacity: 0;
}

#contraloria-header #navbar li a:hover i.ico-menu {
  -webkit-animation:750ms ease-in-out intermitente infinite;
  -moz-animation:750ms ease-in-out intermitente infinite;
  -o-animation:750ms ease-in-out intermitente infinite;
  -ms-animation:750ms ease-in-out intermitente infinite;
  animation:750ms ease-in-out intermitente infinite;

  -webkit-transition: all 250ms ease-in-out;
      -ms-transition: all 250ms ease-in-out;
       -o-transition: all 250ms ease-in-out;
          transition: all 250ms ease-in-out;
}
#contraloria-header #navbar li a i.icon-index {
  font-size: 16px;
  font-weight: bold;
}
#contraloria-header .navbar-brand {
  position: relative;
  float: left;
  display: block;
  margin-left: 0;
  margin-top: -60px;
  height: 110px;
  width: 135px;
  padding: 18px 0 0;
  background-color: #fff;
  background-image: url('../imagenes/logo.png');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 9;
  margin-right: 10px;
}
#contraloria-header .navbar-nombre {
  float: left;
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  padding-left: 0;
  margin-left: 0;
  color: #10181F;
  height: 50px;
  padding: 18px 0 0;
}
#contraloria-header.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
  border-bottom: 0px solid #b7bcbf;
  margin-top: 0px;
  top: 0;
}
#contraloria-header.navbar-fixed-top .border-header {
    border-bottom: 1px solid #f4b708;
    width: 100%;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0);
}
#contraloria-header.navbar-fixed-top .navbar-brand {
  color: #10181F;
  margin-top: 3px;
  height: 50px;
  width: 60px;
}
#contraloria-header.navbar-fixed-top .navbar-default {
  box-shadow: none;
}
#contraloria-header.navbar-fixed-top #navbar li a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#contraloria-header.navbar-fixed-top #navbar li a:hover {
  color: #10181F;
}
#contraloria-header.navbar-fixed-top #navbar li a.active {
  background: transparent;
  background: none;
  color: #10181F !important;
}
#contraloria-header.navbar-fixed-top #navbar li a.active span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#contraloria-header .navbar-default {
  border: transparent;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 0;
}
/*#contraloria-header .nav > li:last-child a {
    margin-right: -11px;
}*/
@media screen and (min-width: 768px) {
    .navbar-fixed-top .navbar-right {
        margin-right: 0px;
    }
}
@media screen and (max-width: 768px) {
  #contraloria-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: none;
  }
  #contraloria-header {
      background: #fff;
  }
}
#contraloria-header .navbar-default .brand-slogan {
  margin: 28px 0 0 15px;
  float: left;
  letter-spacing: 2px;
  color: #adadad;
}
#contraloria-header .navbar-default .brand-slogan em {
  color: #10181F;
  font-style: normal;
}
#contraloria-header a {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.sub-header {
    height: 40px;
    line-height: 16px;
    padding-top: 15px;

    -webkit-transition: all 250ms ease-in-out;
        -ms-transition: all 250ms ease-in-out;
         -o-transition: all 250ms ease-in-out;
            transition: all 250ms ease-in-out;
}
#contraloria-header.navbar-fixed-top .sub-header {
    height: 30px;
    padding-top: 7px;
    background: #f4b708;
    color: #fff;
}
.sub-header.menu-fijo {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9;
    background: #fff;
}
.menu-sistema a {
   font-size: 12px;
   text-transform: uppercase;
   font-weight: 500;
}
#contraloria-header.navbar-fixed-top .menu-sistema a {
    color: #fff;
}
.menu-sistema .active {
    font-weight: bold;
    pointer-events: none;
    color: #0055b7;
}

.img-rounded {
    border-radius: 4px;
}

.logo {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    cursor: pointer;
    opacity: .6;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(235, 235, 235, 1));
    margin: 20px auto 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.10);
    /*box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);*/
}
.logo:hover {
    opacity: .9;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.encabezado {
    height: 200px;
    /*background: #47476b;*/
    background: #fff url('../imagenes/header.jpg') center -100px;
    background-size: cover;
    border-bottom: 7px solid #fff;
    position: relative;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;

	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
}
@media screen and (max-width: 768px) {
    #slider {
        margin-top: 50px !important;
    }
    .encabezado {
      background: #fff url('../imagenes/header.jpg') center top no-repeat;
      background-size: 150%;
    }
    .ocultar {
        display: none;
    }
    .top .text-right {
        /*text-align: center !important;*/
    }
    #contraloria-header {
      top: 68px;
    }
    #contraloria-header #navbar li a {
        text-align: center;
        font-size: 20px;
    }
    #contraloria-header #navbar {
        padding-bottom: 20px;
        border-top: 2px solid #fff;
        border-bottom: 1px solid #ecedf1;
        margin-top: 6px;
        margin-left: -15px;
        margin-right: -15px;
    }
    #slider .contraloria-owl-text-wrap {
        max-height: 200px;
    }
    #slider .contraloria-owl-text-wrap {
        height: 200px !important;
    }
    #slider a.btn {
        display: none;
    }
    .item .contraloria-owl-text .contraloria-sub-lead {
        font-size: 12px !important;
        line-height:  12px !important;
        letter-spacing: 0px !important;
        background: rgba(255, 255, 255, 0.7);
        padding: 8px 5px !important;
        border-radius: 4px !important;
        text-align: center !important;
    }
    .item .contraloria-owl-text .contraloria-lead {
        font-size: 14px !important;
        line-height:  14px !important;
        letter-spacing: 0px !important;
        background: rgba(255, 255, 255, 0.7);
        padding: 7px 5px !important;
        padding: 7px 2% !important;
        border-radius: 4px !important;
        text-align: center !important;
    }
    .pad-top2, .pad-top1 {
        padding-top: 0px !important;
    }
    #slider .slide1, #slider .slide2, #slider .slide3 {
        background-position: center top !important;
    }
    .slider-margen-lf {
        float: none !important;
        margin: 0 5% !important;
        padding-left: 15px !important;
    }
    .slider-margen-rt {
        float: none !important;
        margin: 0 5% !important;
        padding-right: 15px !important;
    }
    .owl-carousel-fullwidth.owl-theme .owl-dots {
        display: none !important;
    }
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        max-height: none;
        margin-top: 3px !important;
    }
}
.slider-margen-lf {
    float: left;
    padding-left: 50px;
}
.slider-margen-rt {
    float: right;
    padding-right: 50px;
}
.encabezado:hover {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}
.separador {
    height: 10px;
    background: #10181F;
    position: relative;
    z-index: 3;
    border-bottom: 1px solid #10151b;
}
.top {
    height: 70px;
    background: #fff;
    position: relative;
    z-index: 3;
}
.top .texto {
    color: #10181F;
    font-size: 14px;
    padding-top: 10px;
}
.text-right {
    padding-right: 10px;
}
.banda {
    height: 40px;
    background: #10181F;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.banda .texto {
    color: #10181F;
    font-weight: 400;
    font-size: 18px;
    padding-top: 4px;
}
span.tels {
    color: #10181F;
    font-weight: bold;
}
#slider {
    position: relative;
    z-index: 1;
    border-bottom: 3px solid #fff;
    margin-top: -70px;
}
#slider .slide1 {
    background: url('../imagenes/qro.jpg') center center;
    background-size: cover;
}
#slider .slide2 {
    background: url('../imagenes/qro.jpg') center center;
    background-size: cover;
}
#slider .slide3 {
    background: url('../imagenes/qro.jpg') center center;
    background-size: cover;
}
.gris {
    background: #ededed;
    padding-top: 50px;
    padding-bottom: 40px;
    border-top: 1px solid #b7bcbf;
    border-bottom: 1px solid #b7bcbf;
}
#contraloria-header .container {
    /*max-width: 940px;*/
}
#contraloria-header.navbar-fixed-top .container {
    max-width: 1170px;
}
.pad-top1 {
  padding-top: 150px;
}
.pad-top2 {
  padding-top: 250px;
}
.fondo-gris {
    background: #ededed !important;
    padding-top: 50px;
    padding-bottom: 40px;
    border-top: 1px solid #dadee2;
}
.fondo-gris h3 {
    color: #10181F !important;
}
.borde-derecho {
    border-right: 1px solid #b7bcbf;
}
.borde-der {
    border-right: 1px solid #b7bcbf;
}
#contraloria-contacto .borde-derecho {
    border-right: 2px solid #b7bcbf;
}
@media screen and (max-width: 768px) {
    #contraloria-contacto .borde-derecho, .borde-derecho {
        border-right: 0;
    }
}
.nav-tabs {
    padding-top: 30px;
}
.nav-tabs > li {
    margin-bottom: 5px;
}
.nav-tabs > li a {
    border: 0;
    font-size: 20px;
    text-transform: uppercase;
    color: #c7cfd8;
    font-weight: 400;

	-webkit-transition: all 50ms ease-in-out;
	   	-ms-transition: all 50ms ease-in-out;
	   	 -o-transition: all 50ms ease-in-out;
	   	 	transition: all 50ms ease-in-out;
}
.nav-tabs > li a:hover {
    border: 0;
    color: #10181F;
    background: #fff;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #10181F;
    font-weight: 600;
    background-color: #fff;
    border: 0;
    cursor: default;
}
.tab-pane h3 {
    color: #10181F !important;
    font-weight: 400 !important;
}


 .section-heading {
  float: left;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 30px;
  clear: both;
}
.section-heading h2 {
    font-size: 24px;
      font-weight: 500;
      color: #10181F;
      position: relative;
      display: block;
      padding-bottom: 0px;
      line-height: 50px;
      letter-spacing: 0px;
      margin-bottom: 5px;
      text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 30px;
  }
}
.section-heading h3 {
  font-weight: 400;
  line-height: 21px;
  color: #10181F;
  padding-top: 0;
  margin-top: 0;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 18px !important;
    line-height: 24px;
  }
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.padding-top {
  padding: 2.5em 0 !important;
}

ul.grid {
    width: 100%;
    list-style: none;
    padding: 0;
}

li.item {
    float: left;
    width: 33.333%;
}

.item img {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    position: relative;
    z-index: 0;

	-webkit-transition: all 250ms ease-in-out;
	   	-ms-transition: all 250ms ease-in-out;
	   	 -o-transition: all 250ms ease-in-out;
	   	 	transition: all 250ms ease-in-out;

	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}

.item img:hover {
    z-index: 9;
    -webkit-transform:scale(1.4);
    -moz-transform:scale(1.4);
    -ms-transform:scale(1.4);
    -o-transform:scale(1.4);
    transform:scale(1.4);
}

@media screen and (min-width: 768px) {

    .item img {
        position: relative;
        z-index: 0;

    	-webkit-transition: all 250ms ease-in-out;
    	   	-ms-transition: all 250ms ease-in-out;
    	   	 -o-transition: all 250ms ease-in-out;
    	   	 	transition: all 250ms ease-in-out;

    	-webkit-transform:scale(1);
    	-moz-transform:scale(1);
    	-ms-transform:scale(1);
    	-o-transform:scale(1);
    	transform:scale(1);

    	filter: grayscale(100%);
    	-webkit-filter: grayscale(100%);
    	-moz-filter: grayscale(100%);
    	-ms-filter: grayscale(100%);
    	-o-filter: grayscale(100%);
    }

    .item img:hover {
        z-index: 9;
        -webkit-transform:scale(1.4);
        -moz-transform:scale(1.4);
        -ms-transform:scale(1.4);
        -o-transform:scale(1.4);
        transform:scale(1.4);

        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
    }

}

#contraloria-features,
#contraloria-contacto {
  padding: 7em 0 3em;
}
@media screen and (max-width: 480px) {
  #contraloria-features,
  #contraloria-contacto {
    padding: 5em 0;
  }

  li.item {
      float: left;
      width: 100%;
  }
}

#contraloria-contacto {
  background: #fff;
}

@media screen and (max-width: 992px) {

  li.item {
      float: left;
      width: 50%;
  }
}

#contraloria-features {
  padding: 3em 0 0;
}
@media screen and (max-width: 768px) {
  #contraloria-features {
    padding: 4em 0;
  }


  li.item {
      float: left;
      width:100%;
  }
}
#contraloria-features .contraloria-service {
  margin-bottom: 30px;
  float: left;
  min-height: 100px;
}
#contraloria-features .contraloria-service .contraloria-icon {
  float: left;
  width: 20%;
  border: 2px dashed #10181F;
  border-radius: 100%;
  padding: 5px;
}
#contraloria-features .contraloria-service .contraloria-icon i {
  font-size: 40px;
  color: #10181F;
}

#contraloria-features .contraloria-service .contraloria-icon span {
  float: left;
  width: 100%;
  font-size: 28px;
  background: #6b8098;
  color: #10181F;
  font-weight: bold;
  text-align: center;
  border-radius: 100%;
}
#contraloria-features .contraloria-service .contraloria-desc {
  width: 80%;
  float: right;
  padding-left: 15px;
}
#contraloria-features .contraloria-service .contraloria-desc h3 {
  margin-top: 0p;
  font-size: 18px;
  line-height: 21px;
}

#contacto #contraloria-contacto .contraloria-contacto-item {
  margin-bottom: 40px;
}
#contraloria-contacto .contraloria-contacto-item {

  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 480px) {
  #contraloria-contacto .contraloria-contacto-item {
    display: block !important;
  }
}
#contraloria-contacto .contraloria-contacto-item .contraloria-contacto-text,
#contraloria-contacto .contraloria-contacto-item .contraloria-contacto-img {
  width: 50%;
}
@media screen and (max-width: 480px) {
  #contraloria-contacto .contraloria-contacto-item .contraloria-contacto-text,
  #contraloria-contacto .contraloria-contacto-item .contraloria-contacto-img {
    height: inherit;
    float: none !important;
    width: 100%;
    display: block !important;
  }
}
#contraloria-contacto .contraloria-contacto-item .contraloria-contacto-text {
  float: left;
  padding: 20px 30px;
}
#contraloria-contacto form {
    padding-top: 20px;
    width: 100%;
}
#contraloria-contacto .contraloria-contacto-item .contraloria-contacto-text .contraloria-contacto-title {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  font-weight: 400;
  font-size: 20px;
  color: #10181F;
  position: relative;
}
#contraloria-contacto .contraloria-contacto-item .contraloria-contacto-text .contraloria-contacto-title .contraloria-border {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 30px;
  background: #10181F;
}
#contraloria-contacto .contraloria-contacto-item .contraloria-contacto-img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  #contraloria-contacto .contraloria-contacto-item .contraloria-contacto-img {
    height: 200px;
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
  }
}

.captura fieldset {
    padding: 15px;
    margin: 0;
    border: 1px solid #ecedf1;
    border-radius: 3px;
}
.captura .campo {
    padding: 7px 0 15px;
    border: 1px solid #b7bcbf;
    margin: 5px -10px;
    border-radius: 3px;

    -webkit-transition: all 250ms ease-in-out;
        -ms-transition: all 250ms ease-in-out;
         -o-transition: all 250ms ease-in-out;
            transition: all 250ms ease-in-out;
}
.captura .campo:hover {
    background: #ededed;
}
.captura .campo-folio {
    background: #ededed;
}
.captura .btn {
    border: 1px solid #b7bcbf;
    margin: 2px 0 5px -10px;
}
.captura .btn:hover {
    border: 1px solid #b7bcbf;
}
.captura select {
    background: transparent;
    border-radius: 0;
    -webkit-appearance: none;
    border: 0;
    border-bottom: 1px solid #b7bcbf;
    padding: 2px 20px 2px 0;
    width: 100%;
    height: auto;
    line-height: 22px;
    z-index: 9;
    position: relative;
}
.captura select:focus, .captura select:active {
    outline: 0 !important;
    box-shadow: none;
    border-bottom: 1px solid #10181F;
}
.captura .fa-caret-down {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}
.captura .fecha[readonly] {
    background: transparent !important;
}
.captura [disabled] {
    pointer-events: none;
}
.captura #guardar-registro {
    margin-top: 7px;
}
.instrucciones {
    line-height: 16px !important;
    display: inline-block;
    padding: 0 0 10px;
    font-family: "lato";
}
.form-control {
    border: 0;
    box-shadow: none;
    background: transparent;
    border-radius: 0;
    display: block;
    width: 100%;
    height: auto;
    padding: 2px 0;
    font-size: 14px;
    font-weight: 400;
    color: #10181F;
    border-bottom: 1px solid #b7bcbf;
    line-height: 22px;
}
.folio {
    border: 0;
    box-shadow: none;
    background: transparent;
    border-radius: 0;
    display: block;
    width: 100%;
    height: auto;
    padding: 2px 0;
    font-size: 14px;
    font-weight: 400;
    color: #10181F;
    border-bottom: 1px solid #b7bcbf;
    line-height: 22px;
}

.form-control[type=number]::-webkit-inner-spin-button,
.form-control[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
.form-control[type=number]
{
  -moz-appearance: textfield;
}

.form-control:focus, .form-control:active {
    outline: 0 !important;
    box-shadow: none;
    border-bottom: 1px solid #6b94d4 !important;
}
.form-control::-webkit-input-placeholder {
    color: #b7bcbf !important;
    font-weight: 300;
    font-style: italic;

    -webkit-transition: all 250ms ease-in-out;
        -ms-transition: all 250ms ease-in-out;
         -o-transition: all 250ms ease-in-out;
            transition: all 250ms ease-in-out;
}
.form-control::-moz-placeholder {
    color: #b7bcbf !important;
    font-weight: 300;

    -webkit-transition: all 250ms ease-in-out;
        -ms-transition: all 250ms ease-in-out;
         -o-transition: all 250ms ease-in-out;
            transition: all 250ms ease-in-out;
}
.form-control:-ms-input-placeholder {
    color: #b7bcbf !important;
    font-weight: 300;

    -webkit-transition: all 250ms ease-in-out;
        -ms-transition: all 250ms ease-in-out;
         -o-transition: all 250ms ease-in-out;
            transition: all 250ms ease-in-out;
}

[placeholder] {
  transition: opacity 0.3s 0.2s ease;
  opacity: 1;
  font-size: 14px;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.3s 0.2s ease;
  opacity: 0;
  font-size: 14px;
}

.form-group {
    padding: 0;
    margin: 0;
}
.form-group label {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 10px;
    text-transform: uppercase;
}
.captura .mensaje {
    padding: 10px 15px;
    font-weight:400;
    display:inline-block;
    font-size: 12px;
    text-transform: uppercase;
}
.captura .hr {
    margin: 15px -10px;
}
.captura .required {
    color: #8b9eb5;
    font-size: 75%;
    font-weight: bold;

}
.captura .titular {
    margin-top: 0;
    font-size: 21px;
    margin-bottom: 0;

}

.captura input[type=submit],
.captura input[type=submit]:active,
.captura input[type=submit]:focus {
    background: #6b94d4 !important;
    border-top: 0 solid #fff;
    border-bottom: 3px solid #0055b7;
    border-left: 0px solid #0055b7;
    border-right: 0px solid #0055b7;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
    padding: 7px 12px 6px !important;
    font-family: 'Lato';
    transform: translateY(0);
    font-size: 14px;
}
.captura input[type=submit]:hover {
    background: #6b8098 !important;
    border-top: 3px solid #fff;
    border-bottom: 0px solid #0055b7;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    transform: translateY(1px);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
.captura input[type=submit]:active {
    background: #0055b7 !important;
}
input[type=submit]#submit {
    margin-right: 30px;
}

#formato .campo,
#vista-registro .campo {
    border: none;
    border-radius: 0;
}
#vista-registro .campo {
    padding: 0 0 10px;
}
#formato .firma {
    border: 1px solid #d9dcde;
    border-radius: 3px;
}
#vista-registro .campo.borde-der {
    border-right: 1px solid #d9dcde !important;
}
#vista-registro hr {
    border-top: 1px solid #d9dcde !important;
}

#formato [disabled],
#registro [disabled],
#vista-registro [disabled] {
    pointer-events: none;
    background: transparent;
}
#formato .campo:hover,
#vista-registro .campo:hover  {
    background: transparent;
}

.campo.deshabilitado, .campo.deshabilitado:hover {
    pointer-events: none !important;
    background: #fff !important;
    opacity: .7;
}
.rosa.deshabilitado, .rosa.deshabilitado:hover, .rosa.deshabilitado label {
    color: #b9005c !important;
}
.campo.deshabilitado i{
    display: none;
}
.campo.deshabilitado::before {
    content: "\f05e";
    font: normal normal normal 16px/22px FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #999;
    position: absolute;
    background: #fff;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    z-index: 9;
    display: inline-block;
    transform: translate(-35%,-55%);
}



.contraloria-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.contraloria-nav-toggle.active i::before, .contraloria-nav-toggle.active i::after {
  background: #10181F;
}
.contraloria-nav-toggle:hover, .contraloria-nav-toggle:focus, .contraloria-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.contraloria-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 3px;
  color: #10181F;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #10181F;
  transition: all .2s ease-out;
}
.contraloria-nav-toggle i::before, .contraloria-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #10181F;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.contraloria-nav-toggle i::before {
  top: -7px;
}

.contraloria-nav-toggle i::after {
  bottom: -7px;
}

.contraloria-nav-toggle:hover i::before {
  top: -7px;
}

.contraloria-nav-toggle:hover i::after {
  bottom: -7px;
}

.contraloria-nav-toggle.active i {
  background: transparent;
}

.contraloria-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.contraloria-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.contraloria-nav-toggle {
  position: absolute;
  top: 7px;
  right: 5px;
  z-index: 21;
  padding: 6px 0 0 0;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 25px;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .contraloria-nav-toggle {
    display: block;
  }
  .captura .mensaje {
      padding: 10px 0;
      display:block;
  }
}

#footer {
  padding: 50px 0;
  color: #ddd;
  background: #252b33;
  border-top: 3px solid #6b94d4;
}
#footer .copyright {
  margin-bottom: 0px;
  padding-bottom: 0;
  font-family: "Montserrat";
  line-height: 18px;
  margin-top: 10px;
  color: #ddd;
}

#footer #arriba {
    color: #ddd;
    font-weight: bold;
    font-size: 30px;
    padding: 15px;
    display: inline-block;
}

.flecha-abajo {
    position: absolute;
	z-index: 8;
	color: #10181F;
    font-size: 26px;
	width: 60px;
	margin: 20px auto;
    display: block;
	cursor: pointer;
	text-align: center;
    right: 50px;
    margin-top: -150px;

	-webkit-transition: all 250ms ease-in-out;
	   	-ms-transition: all 250ms ease-in-out;
	   	 -o-transition: all 250ms ease-in-out;
	   	 	transition: all 250ms ease-in-out;
}
.flecha-abajo i,
#arriba i,
.nav i {
    display: block;
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #6b94d4;
  color: #fff;
  border: 0;
  border-top: 2px solid #0055b7;
  border-radius: 25px;
  font-size: 13px;
}
.btn-small {
  text-transform: none;
  padding: 3px 12px 5px !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #6b8098;
  border: 0;
  border-top: 2px solid #0055b7;
}
.btn:hover, .btn:active, .btn:focus {
  background: #6b8098 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}
.btn-admin {
    position: absolute;
    right: 15px;
    top: 12px;
}

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: #10181F;
  color: #fff;
}
.social li a.social-circle {
  background: #10181F;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  background: #10181F !important;
}
.social.social-box a {
  background: #10181F;
  color: #fff;
}
.social.social-circle a {
  background: #10181F;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.owl-carousel .owl-controls .owl-nav {
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.owl-carousel:focus .owl-controls .owl-nav, .owl-carousel:hover .owl-controls .owl-nav, .owl-carousel:active .owl-controls .owl-nav {
  opacity: 1;
}
.owl-carousel .btn-primary:hover, .owl-carousel .btn-primary:focus, .owl-carousel .btn-primary:active {
  background: transparent !important;
  border: 2px solid #fff !important;
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .owl-carousel .owl-controls .owl-nav {
    display: none;
  }
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.owl-carousel .owl-controls .owl-nav .owl-next i:before,
.owl-carousel .owl-controls .owl-nav .owl-prev i:before {
  color: #10181F;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next {
  right: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover {
  right: 10px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover i:before {
  color: #10181F;
}

.owl-carousel .owl-controls .owl-nav .owl-prev {
  left: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover {
  left: 10px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover i:before {
  color: #10181F;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i {
  color: #10181F;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i {
  color: #10181F;
}

.owl-carousel-fullwidth.contraloria-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.contraloria-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #fff;
}
.owl-carousel-fullwidth.contraloria-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.contraloria-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 30px;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
  background: none !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 5px;
  /*margin-bottom: 2.5em;*/
}
.owl-theme .owl-dot {
  background: #10181F;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  background: white;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: white;
  background: transparent;
  border: 2px solid #fff;
}

.owl-carousel-fullwidth .item, .owl-carousel-fullwidth .contraloria-owl-text-wrap {
  height: 100%;
  height:100vh;
  overflow: hidden;
  width: 100%;

}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item, .owl-carousel-fullwidth .contraloria-owl-text-wrap {
    height: inherit;
    padding: 5em 0;
  }
}
.owl-carousel-fullwidth .contraloria-owl-text-wrap {
  position: relative;
}
.owl-carousel-fullwidth .item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: relative;
}
.owl-carousel-fullwidth .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.owl-carousel-fullwidth .item img {
  max-width: 100%;
}
.owl-carousel-fullwidth .item .iphone-image {
  position: relative;
  z-index: 99;
}
.owl-carousel-fullwidth .item .iphone-image .iphone {
  float: right;
  text-align: right;
  position: relative;
  bottom: -12em;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item .iphone-image .iphone {
    bottom: 0em;
    text-align: center;
    float: none !important;
    margin: 0 auto;
    display: block;
  }
}
.owl-carousel-fullwidth .item .iphone-image .iphone img {
  max-width: 100%;
}
.owl-carousel-fullwidth .item .contraloria-owl-text {
  display: table-cell;
  vertical-align: middle;
  z-index: 10;
  position: relative;
}
.owl-carousel-fullwidth .item .contraloria-owl-text a {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.owl-carousel-fullwidth .item .contraloria-owl-text a:hover {
  text-decoration: none;
  color: #10181F;
  border: 2px solid #10181F !important;
}
.owl-carousel-fullwidth .item .contraloria-owl-text .contraloria-lead, .owl-carousel-fullwidth .item .contraloria-owl-text .contraloria-lead-2, .owl-carousel-fullwidth .item .contraloria-owl-text .contraloria-sub-lead {
  color: #fff;
  margin: 0;
  padding: 0;
}
.owl-carousel-fullwidth .item .contraloria-owl-text .contraloria-lead {
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 0;
  letter-spacing: 0px;
  font-size: 40px;
  line-height: 36px;
  color: #10181F;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item .contraloria-owl-text .contraloria-lead {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
  }
}
.owl-carousel-fullwidth .item .contraloria-owl-text .contraloria-sub-lead {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #10181F;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item .contraloria-owl-text .contraloria-sub-lead {
    font-size: 24px;
    line-height: 34px;
  }
}

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
  .panel-title a small {
      display: none;
  }
}

.contraloria-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#contenedor-filtro {
    display: none;
    border-top: 2px solid #94348c;
}
#filtros #contenedor-filtro {
    display: block;
    border-top: 2px solid #94348c;
}


.filtro {
    border-radius: 0 0 3px 3px;
    border: none;
    border-top: 15px solid #cc99c4;
    background: #fbfbfb;
    min-height: 100px;
    margin-bottom: 15px;
    padding: 10px 0;
    border-radius: 0 0 6px 6px;
}
.filtro-elemento {
    padding-top: 0px;
    padding-bottom: 15px;
}
.filtro label {
    font-weight: 400;
    font-size: 14px;
    margin-left: 5px;
}
.filtro .form-control {
    /*border: 1px solid #ecedf1;*/
    border-bottom: 1px solid #b7bcbf;
}
.filtro .form-control:focus {
    border-bottom: 1px solid #10181F;
}
#filtro.clic {
    border-top: 2px solid #94348c !important;
    background: #cc99c4 !important;
    color: #fff !important;
}


/*# CSS */
.panel.panel-default {
    border: 1px solid #6b94d4;
    border-bottom: 2px solid #6b94d4;
    border-top: 2px solid #0055b7;
    background: #fff;
    border-radius: 0 0 3px 3px;
    box-shadow: none;
    margin-bottom: 15px;
    font-family: "Lato";
    color: #616161;
}
.panel.panel-default.consulta {
    border: 0;
    border-top: 2px solid #0055b7;
}
.panel-default > .panel-heading {
    color: #fff;
    background: #6b94d4;
    padding: 15px 15px 10px;
    border: none;
    border-radius: 0;
}
.panel-title {
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
}
.panel-title small {
    color: #fff;
}
.panel-title a:hover,
.panel-title a:focus {
    color: #fff ;
}
.panel-body {
    padding: 15px 15px;
    border-top: 1px solid #6b94d4 !important;
}
.tabla .panel-body,
.opciones .panel-body {
    padding: 0 15px;
}
.panel h3 {
    margin-bottom: 5px;
    margin-top: 5px;
    line-height: 18px;
    font-size: 16px;
    font-weight: 600;
}
.panel .titulo {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: -5px;
    margin-right: -5px;
    color: #fff;
}
.panel p {
    margin-bottom: 5px;
    line-height: 14px;
    font-weight: 400;
}
.fila .datos span {
    margin-bottom: 0px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 400;
    margin-left: -5px;
    margin-right: -5px;
}
.fila .datos div {
    position: relative;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid #e6ebef;
}
.fila .acciones div {
    border-right: 1px solid #e6ebef;
}
.fila .acciones div:last-child {
    border-right: 0;
}
.fila .datos div:hover {
    overflow: visible;
    position: relative;
    z-index: 9;
}
.fila .datos div:hover span {
    display: inline-block;
    background: #fff;
    padding-right: 5px;
}

.fila {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #c4cfe0;
}
.fila:last-child {

}
.fila .datos {
    opacity: 1;

	-webkit-transition: all 250ms ease-in-out;
	   	-ms-transition: all 250ms ease-in-out;
	   	 -o-transition: all 250ms ease-in-out;
	   	 	transition: all 250ms ease-in-out;
}
.fila:hover .datos {
    /*opacity: .5;*/
    cursor: default;
}
.fila .btn-editar {
    position: absolute;
    right: 5px;
    background: #fff;
    opacity: 0;
    padding: 5px 5px 0px 8px;
    margin-top: -27px;

	-webkit-transition: all 250ms ease-in-out;
	   	-ms-transition: all 250ms ease-in-out;
	   	 -o-transition: all 250ms ease-in-out;
	   	 	transition: all 250ms ease-in-out;
}
.fila:hover .btn-editar {
    opacity: 1 !important;
}

.menu-sel {
    min-height: 386px;
}
.menu-sel .boton {
    position: relative;
    padding-top: 6px;
    padding-bottom: 5px;
    border-bottom: 1px solid #b7bcbf;
    line-height: 23px;
    display: block;
    overflow: visible;
}
.menu-sel .boton i {
    font-size: 14px;
}
.menu-sel a {
    font-size: 15px;
    font-weight: 400;
}
.menu-sel a:hover {
}
.menu-sel a:active, .menu-sel a:focus {
    color: #10181F;
}
.menu-sel a.sel {
    font-size: 15px;
    font-weight: 600;
}
.menu-sel a.sel:hover {
    color: #10181F;
}
.menu-sel a.sel::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #b7bcbf;
    border: 7px solid #fff;
    box-sizing: content-box;
    display: inline-block;
    margin-top: 5px;
    left: 20px;
}

.menu-sel a.sel span.bsel {
    z-index: 29;
    position: relative;
    padding-right: 5px;
    background: #fff;
}

.menu-cap {
    min-height: 386px;
}
.menu-cap .boton {
    position: relative;
    padding-top: 6px;
    padding-bottom: 5px;
    border-bottom: 1px solid #b7bcbf;
    line-height: 23px;
    display: block;
    overflow: visible;
}
.menu-cap .boton i {
    font-size: 14px;
}
.menu-cap a {
    font-size: 15px;
    font-weight: 400;
}
.menu-cap a:hover {
}
.menu-cap a:active, .menu-cap a:focus {
    color: #10181F;
}
.menu-cap a.cap {
    font-size: 15px;
    font-weight: 600;
    color: #0055b7;
}
.menu-cap a.cap:hover {
    color: #10181F;
}
.menu-cap a.cap::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #6b94d4;
    border: 7px solid #fff;
    box-sizing: content-box;
    display: inline-block;
    margin-top: 5px;
    left: 20px;
}

.menu-cap a.cap span.bcap {
    z-index: 29;
    position: relative;
    padding-right: 5px;
    background: #fff;
}

#cont-ini  {
    min-height: 443px;
}

#cont-ini .btn-paginacion  {
    margin: 0 1px;
    font-size: 13px;
    font-weight: 600;
    width: 19px;
    height: 19px;
    text-align: center;
    display: inline-block;
    color: #6b94d4;
}
#cont-ini .pag-activa {
    margin: 0 1px;
    font-size: 13px;
    font-weight: 600;
    background: #6b94d4;
    color: #fff;
    border-radius: 100%;
    width: 20px;
    height: 19px;
    text-align: center;
    display: inline-block;
    margin-bottom: 3px;
}
#cont-ini .viendo {
    padding-right: 0;
    margin-right: 10px !important;
    height: 20px;
    display: inline-block;
    color: #6b94d4;
}
.pag {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 0;
}
.pag .datos span {
    margin-bottom: 0px;
    line-height: 15px;
    font-size: 13px;
    font-weight: 400;
}
.pag .datos div:hover span {
    display: inline-block;
    background: #fff;
    padding-right: 5px;
}
.height {
    min-height: 350px;
}
.tabla {
    min-height: 400px;
}

.panel-footer {
    border-top: 1px solid #b7bcbf;
    background: #ededed;
}
.primero span,
.primero .titulo {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.borderecho {
    border-left: 1px solid #8DB6F6;
}

.tooltip {
    position: absolute;
    opacity: 1 !important;
}
.tooltip.left {
  margin-left: 0;
  padding: 0;
}
.tooltip-inner {
    background: #6b94d4;
    border-radius: 3px 0 0 3px;
    padding: 4px 0px 3px 15px;
}
.eliminar .tooltip-inner {
    background: #ff4c00 !important;
}
.tooltip.left .tooltip-arrow {
  display: none;
  border-left-color: #6b94d4;
}
.modificar {
    display: block;
}
.modificar.btn-azul {
    color: #6b94d4;
    border-radius: 3px;

	-webkit-transition: all 0ms ease-in-out;
	   	-ms-transition: all 0ms ease-in-out;
	   	 -o-transition: all 0ms ease-in-out;
	   	 	transition: all 0ms ease-in-out;
}
.modificar.btn-azul:hover {
    color: #fff;
    background: #6b94d4;
    border-radius: 0 3px 3px 0;

	-webkit-transition: all 0ms ease-in-out;
	   	-ms-transition: all 0ms ease-in-out;
	   	 -o-transition: all 0ms ease-in-out;
	   	 	transition: all 0ms ease-in-out;
}
.modificar.btn-rojo {
    color: #7a838c;
    border-radius: 3px;

	-webkit-transition: all 0ms ease-in-out;
	   	-ms-transition: all 0ms ease-in-out;
	   	 -o-transition: all 0ms ease-in-out;
	   	 	transition: all 0ms ease-in-out;
}
.modificar.btn-rojo:hover {
    color: #fff;
    background: #ff4c00;
    border-radius: 0 3px 3px 0;

	-webkit-transition: all 0ms ease-in-out;
	   	-ms-transition: all 0ms ease-in-out;
	   	 -o-transition: all 0ms ease-in-out;
	   	 	transition: all 0ms ease-in-out;
}
.modificar.btn-gris {
    color: #748a9e;
}

.bg-amarillo {
    background: #f4b708 !important;
}


/* Modal */
#openModal div.checkbox {
  text-align: left;
}
hr {
  border-top: 1px solid #b7bcbf;
}
.tamFuente {
  font-size: 15px;
}
.modalbg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(78, 98, 122, 0);
  z-index: 99999;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
  pointer-events: none;
}

.modalbg .dialog {
  width: 80%;
  position: absolute;
  top: 50%;
  left: -1200px;
  transform: translate(-50%,-50%);
  margin: 0 auto;
  padding: 5px 30px 13px 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
}
#login.modalbg .dialog {
  top: 1600px;
  left: 50%;
  width: 60%;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
}

.modalbg:target {
  display: block;
  pointer-events: auto;
  background: rgba(78, 98, 122, .9);
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#login.modalbg:target  {
  background: rgba(78, 98, 122, .9);
}

.modalbg:target .dialog {
  left: 50%;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
#login.modalbg:target .dialog {
  top: 50%;
}

.close {
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  color: #b0bcca;
  text-shadow: none;
  text-decoration: none;
  opacity: 1;
  filter: alpha(opacity=100);
  position: absolute;
  right: 15px;
  top: 15px;
}
.close:hover, .close:focus {
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  color: #10181F;
  text-shadow: none;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
  position: absolute;
  right: 15px;
  top: 15px;
}

@media (min-width: 1024px) {
  .modalbg .dialog {
    width: 70%;
    /*max-width: 450px;*/
  }

  #login.modalbg .dialog {
    width: 30%;
  }
}

.modalbg label {
    padding: 5px 15px !important;
}
.modalbg input {
    border: none;
    background: #fff;
    padding: 5px 10px;
    border-radius: 0px;
    height: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid #ecedf1;
}
.modalbg input[value] {
}
.modalbg input[placeholder] {
}
.modalbg input:focus {
    border: none;
    border-bottom: 1px solid #10181F;
}

#login .form-horizontal .control-label {
    text-align: left;
    font-weight: 600;
}
.modalbg .btn {
    background: #10181F;
    border-radius: 35px;
    color: #fff;
    font-weight: 600;
}
.modalbg .btn:hover {
    color: #fff;
    background: #6b8098;
}




.azul {
    color: #6b94d4 !important;
}
.rosa {
    color: #fff !important;
    background: #d50f67 !important;
    border: 1px solid #b9005c !important;
}
.rosa:hover {
    color: #fff !important;
    background: #f39aae !important;
    border: 1px solid #f39aae !important;
}
.rosa .form-control {
    color: #fff !important;
    border-bottom: 1px solid #f39aae !important;
}
.rosa .form-control:hover,
.rosa .form-control:focus {
    border-bottom: 1px solid #fff !important;
}

.rosa .form-control::-webkit-input-placeholder {
    color: #f39aae !important;
}
.rosa .form-control::-moz-placeholder {
    color: #f39aae !important;
}
.rosa .form-control:-ms-input-placeholder {
    color: #f39aae !important;
}

.logo-gob {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 250px;
  padding: 0;
  background-image: url('../imagenes/gob.png');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 9;
  margin-bottom: 15px;
}

.rubrica {
    padding-top: 100px;
}

.rubrica-txt {
    font-size: 11px;
    text-transform: uppercase;
    line-height: 16px;
    display: inline-block;
}

.rubrica-txt strong {
    font-size: 13px;
}

.cabeza {
    display: none;
}

.multiselect-container>li>a>label {
    font-size: 14px !important;
    color: #10181F !important;
    font-family: 'Lato' !important;
}
.multiselect-selected-text {
    font-size: 14px !important;
    color: #10181F !important;
    font-family: 'Lato' !important;
}
.multiselect-container li:first-child {
    display: none;
}

.panel.panel-default.amarillo {
    border: 1px solid #f4b708 !important;
    border-bottom: 2px solid #f4b708 !important;
    border-top: 2px solid #c17a00 !important;
}
.panel.panel-default.amarillo .panel-heading {
    background: #f4b708 !important;
}
.panel.panel-default.amarillo .panel-body {
   border-top: 1px solid #f4b708 !important;
}
.multiselect.dropdown-toggle,
.multiselect.dropdown-toggle:hover,
.multiselect.dropdown-toggle:focus  {
    line-height: 23px !important;
}
::selection {
       background-color: #6b94d4;
       color: #fff;
}

.aviso-captura {
    font-size: 13px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.totales-inicio {
    margin-bottom:5px;
    border: none !important
}

.modificar {
    z-index: 99;
}
.modificar::after {
    opacity: 0;
    content: '';
    position: absolute;
    display: inline-block;
    z-index: 99;
    white-space: nowrap;
    left: 0;
    transform: translateX(-98%);
    color: #fff;
    border-radius: 3px 0 0 3px;

	-webkit-transition: all 0ms ease-in-out;
	   	-ms-transition: all 0ms ease-in-out;
	   	 -o-transition: all 0ms ease-in-out;
	   	 	transition: all 0ms ease-in-out;
}
.modificar:hover::after {
    content: attr(data-texto);
    font-size: 12px;
    line-height: 24px;
    padding-left: 12px;
    height: 24px;
    opacity: 1;

	-webkit-transition: all 0ms ease-in-out;
	   	-ms-transition: all 0ms ease-in-out;
	   	 -o-transition: all 0ms ease-in-out;
	   	 	transition: all 0ms ease-in-out;
}
.modificar.btn-azul::after {
    background: #6b94d4;
}
.modificar.btn-rojo::after {
    background: #ff4c00;
}

.btn-descarga {
    font-size:12px;
    border: 1px solid #b7bcbf;
    border-radius:2px;
    line-height:14px;
    padding:5px 10px;
    width: 100%;
    display: inline-block;
    text-align:center;
}

.borde-grupo {
    border-left: 2px solid #6b94d4;
    padding-left: 10px;
}


#filtros input.form-control,
#contenedor-filtro input.form-control {
    font-size: 14px;
    font-family: 'Lato';
    color: #616161;
    padding-left: 5px;
}
#filtros select.form-control, #filtros select.form-control:focus,
#contenedor-filtro select.form-control, #contenedor-filtro select.form-control:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0 !important;
    border-top: 2px solid #94348c !important;
    background: #e0c9dd;
    border-radius: 3px !important;
    padding: 4px 7px 3px !important;
    font-size: 11px;
    color: #94348c;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Lato';
    position: relative;
    margin-bottom: 10px;
}
#filtros .fa-caret-down,
#contenedor-filtro .fa-caret-down {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 12%;
    color: #94348c;
}


[placeholder] {
  transition: opacity 0.3s 0.2s ease;
  opacity: 1;
  font-size: 14px;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.3s 0.2s ease;
  opacity: 0;
  font-size: 14px;
}

article h4 {
    color: #6b94d4;
}
.captura h2 {
    color: #0055b7;
}
