@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i');

body {
    font-family: 'Lato';
    color: #000;
}
.panel-default {
    border-color: #000 !important;
}
.panel {
    box-shadow: none !important;
}
.panel-body {
    color: #000 !important;
    padding: 0 !important;
}

.form-group {
    margin: 0 !important;
}

.panel-heading {
    color: #000 !important;
    background-color: #ddd !important;
    background: #ddd !important;
    border-color: #000 !important;
    padding: 8px 10px 7px !important;
}
.panel-title {
    color: #000 !important;
    font-size: 11px !important;
    font-weight: bold !important;
    text-transform: uppercase;
}

.panel-body .campo {
    border: none !important;
    padding: 10px 0 !important;
    border-radius: 3px !important;
    background: transparent !important;
    margin: 0px 1px 0px -4px !important;
    pointer-events: none !important;
    border-radius: 0 !important;
}

.panel-body .campo label {
    font-size: 8px !important;
    text-transform: uppercase !important;
    margin-bottom: 2px !important;
    line-height: 10px !important;
    color: #666 !important;
}

input.form-control {
    color: #000 !important;
    border: 0 !important;
    font-size: 11px !important;
    line-height: 11px !important;
    padding: 0 !important;
    background: #fff !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    height: 13px !important;
    pointer-events: none;
}

.vista-registro input.form-control {
    border-bottom: 1px solid #000 !important;
    height: 20px !important;
    padding-bottom: 7px !important;
}

hr {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border: 0;
    border-top: 1px solid #000 !important;
}


.rubrica {
    padding-top: 100px;
    line-height: 14px;
}

.rubrica-txt {
    font-size: 8px;
    text-transform: uppercase;
    line-height: 12px;
    display: inline-block;
}

.rubrica-txt strong {
    font-size: 10px;
}


.panel-body .campo.borde-der {
    border-right: 1px solid #000 !important;
}

.cabeza {
    display: block;
    height: 120px;
    position: relative;
}

.logo-formato {
  position: relative;
  float: left;
  display: block;
  margin-left: 10px;
  margin-top: 8px;
  height: 85px;
  width: 75px;
  padding: 0;
  background-color: #fff;
  background-image: url('../imagenes/logo-acta.png');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 9;
  margin-right: 10px;
}
.logo-formato img {
    width: 100%;
}

.logo-qro {
  position: relative;
  float: right;
  display: block;
  margin-left: 0;
  margin-top: 0px;
  height: 95px;
  width: 170px;
  padding: 0;
  background-color: #fff;
  background-image: url('../imagenes/queretaro.png');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 9;
  margin-left: 10px;
}
.logo-qro img {
    width: 100%;
    margin-top: 15px;
}

.nombre-csq {
    position: relative;
    float: left;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 10px;
    border-left: 1px solid #000;
    height: 95px;
    vertical-align: middle;
    display: table;
}
.nombre-csq span {
    vertical-align: middle;
    text-transform: uppercase;
    vertical-align: middle;
    display: table-cell;
    line-height: 12px;
    font-size: 10px;
    font-weight: bold;
}

.titulo-formato {
    position: absolute;
    display: block;
    bottom: 38%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    text-align: center;
    font-size: 11px;
    line-height: 12px;
    font-weight: 400;
}
.acta {
    position: absolute;
    display: block;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
}

.columna {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media print {

    * {-webkit-print-color-adjust:exact;}

    .logo-formato {
        content: url('../imagenes/logo-acta.png');
    }
    .logo-qro {
        content: url('../imagenes/queretaro.png');
        height: 75px;
    }

}
